{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div id="content">
    <div class="grid_detail">
        <iframe width="450" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hor'koho+street+104,+Kiev,+Kyiv+city,+Ukraine&amp;aq=&amp;sll=50.4236,30.515579&amp;sspn=0.01054,0.022488&amp;ie=UTF8&amp;hq=&amp;hnear=Antonovycha+St,+104,+Kyiv,+Kiev+city,+Kyiv+city,+Ukraine&amp;t=m&amp;ll=50.431268,30.520706&amp;spn=0.019136,0.038624&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
    </div>
    <div id="detail-description" class="grid_2">
	    <p class="big"><b>Наш магазин</b></p>
	    <p class="description">Улица Горького (Антоновича) 102–104, Киев<br />
	                           Телефоны: +38 (097) 789-15-91, +38 (097) 789-15-91 (круглосуточно)<br /><br /><br />
	    </p>
	    <p class="big"><b>Склад</b></p>
	    <p class="description">Улица Профсоюзная 16, Москва<br />
	                           Телефон: +38 (097) 789-15-91<br /><br />
	    </p>
    </div>
    <div class="clear"></div>
    <p><form action="/contact/" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form></p>
    
     
    
</div>
{% endblock %}