{% load staticfiles %}
{% load url from future %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}{% endblock %}</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="{{ STATIC_URL }}main.css"/>
		<link rel="stylesheet" media="all" href="{{ STATIC_URL }}bootstrap.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}lightbox.js"></script>
	</head>
	
	<body lang="en">
	    <div class="container_4">
	        <div id="logo">
	            <h2><a href="{% url 'index' %}"><img src="{{ STATIC_URL }}logo.png"></a></h2>
	        </div>
	        <div id="menu">
	            <ul>
                    <a href="/"><li id="shop">Магазин</li></a>
                    <a href="/contact/"><li id="contact">Контакт</li></a>
                    <a href="/cart/"><li id="home">Корзина</li></a>
                </ul>
	        </div>
	        <div id="submenu">
	            <ul>{% if categories %}
		                {% for cat in categories %}
		                    <a href="/products/{{ cat.id }}" {% if cat.id == category.id %}class="active"{% endif %}><li id="menu_{{ cat.id }}">{{ cat.name }}</li></a>
	                    {% endfor %}
	                {% else %}
	                    <a href=""><li>Часы</li></a>
	                    <a href=""><li>Игрушки</li></a>
	                    <a href=""><li>Акссесуары</li></a>
                        <a href=""><li>Одежда</li></a>
                        <a href=""><li>Обувь</li></a>
                        <a href=""><li>Предметы</li></a>
	                {% endif %}
                </ul>
	        </div>
	        {% block content %}{% endblock %}
	        
	        {% block footer %}
	        <div id="footer" class="small">&copy; 2013 Workshop Store / Киев, ул. Горького 102–104 / Тел. +38 (097) 789-15-91</div>
	        {% endblock %}
	    </div>
	</body>
	
</html>